@import "_normalize";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import "_variables";

@keyframes rotate {
	100% { transform: rotate(1turn); }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background: linear-gradient(180deg, #E6E7EB 0%, $gray 100%), $white;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  min-height: 100vh;
  justify-content: center;
  width: 100vw;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    height: 100vh;
  }
}

.editor {
  margin: 16px;
  &__area {
    background: $white;
    border: none;
    color: $gray;
    font-weight: normal;
    height: 100%;
    line-height: 24px;
    width: 100%;
  }
  &__button {
    border: 1px solid #121232;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 16px;
    padding: 16px 32px;
    &--save {
      background: #121232;
      color: $white;
      margin-left: 8px;
    }
    &--load {
      background: $white;
      color: #121232;
      margin-right: 8px;
    }
  }
  &__buttons {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-top: 24px;
    width: 100%;
  }
  &__frame {
    border-radius: 10px;
    height: 250px;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    width: 400px;
    z-index: 0;
    &::after {
      background: $white;
      border-radius: 5px;
      content: '';
      left: 6px;
      position: absolute;
      top: 6px;
      height: calc(100% - 12px);
      width: calc(100% - 12px);
      z-index: -1;
    }
    &::before {
      animation: rotate 4s linear infinite;
      background-color: $blue;
      background-image: linear-gradient(to right, $red, $red, $orange, $yellow, $green, $blue, $violet, $pink, $pink);
      background-repeat: no-repeat;
      content: '';
      height: 200%;
      left: -50%;
      position: absolute;
      top: -50%;
      width: 200%;
      z-index: -2;
      @supports (background-image: conic-gradient(#fff, #000)) {
        background-image: conic-gradient($red, $orange, $yellow, $green, $blue, $violet, $pink, $red);
      }
    }
  }
  &__title {
    color: #000000;
    font-size: 44px;
    font-weight: 600;
    line-height: 64px;
    @media screen and (max-width: 425px) {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 425px) {
    width: 100%;
  }
}
