@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #E6E7EB 0%, #A1A4B1 100%), #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
